@media (orientation: portrait) {
    .select-world img {
        width: 80%; /* Ajuste para dispositivos verticais */
        height: 80%;
    }

    .character-selector {
        display: none;
    }
}